.App {
  width: 350px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

.iphone {
  width: 100%;
  background-image: url('../public/iphone_12.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.mobile {
  width: 90%;
  margin: auto;
  padding-top: 20%;
}

.carousel {
  z-index: 0;
}

.carousel-img {
  margin-top: 5%;
  height: 120px;
  border-radius: 10px;
}